.slider_Image {
    height: 450px;
  }
  
  .slider_Image > img {
    margin: auto;
    display: block;
    width: 90%;
  }
  
  .details {
    position: absolute;
    padding: 2rem; /* Reduce padding for smaller devices */
    bottom: 0;
    height: 70%;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-start;
    background-image: linear-gradient(rgb(0, 0, 0, 0), rgb(0, 0, 0, 1));
    opacity: 1;
    transition: opacity 0.3s;
  }
  
  /* Increase font size for large devices */
  .title {
    font-weight: 900;
    font-size: 2.5rem;
    /* margin-bottom: 1.5rem; */
    text-align: left;
    color: rgb(7, 7, 245);
  }

  .description {
    font-style: italic;
    font-size: 1rem;
    margin-bottom: 0.25rem;
    display: flex;
    text-align: left;
    width: 50%;
    margin-top: -10px;
}
  
  /* Decrease font size for smaller devices */
  @media (max-width: 430.98px) {

    .slider{
        background-color: rgb(7, 7, 7);
        padding-bottom: 10px;
    }
    .carousel{
        align-items: center;
        margin-bottom: -20px;
        
    }
    .carousel.carousel-slider{
        margin-bottom: -20px;
       
    }

    .slider_Image {
        height: 250px;
        width: 100%;
        margin-bottom: 0px;
        
      }
    
      .title {
        font-size: 2rem;
        margin-bottom: 1.5rem;
      }
      .details .description{
        display: none;
      }
    
     
      .carousel .control-dots {
        display: none;
      }
      .carousel .slide {
        height: 250px;
      }
  }
  
  
  @media (min-width: 430px) and (max-width: 767.98px) {
    .title {
      font-size: 2rem;
      margin-bottom: 2rem;
    }

    .details .description{
        font-style: italic;
        font-size: 1rem;
        margin-bottom: 1.25rem;
        display: flex;
        text-align: left;
        width: 90%;
      }

  }
  
 
  
  
  @media (min-width: 1200px) {
    .title {
      font-size: 4rem;
      margin-bottom: 3rem;
    }
  }
  