.movielist {
    padding: 0 3rem 3rem 3rem;
    background-color: black;
  }
  
  .cardList {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    justify-content: center;
    padding: 30px;
  }
  
  /* Media Queries */
  @media (max-width: 430.98px) {
    .cardList {
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
      padding: 0px;
    }
  }
  
  @media (min-width: 430.98px) and (max-width: 767.98px) {
    .cardList {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991.98px) {
    .cardList {
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }
  }
  
  @media (min-width: 992px) and (max-width: 1199.98px) {
    .cardList {
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
    }
  }
  